<div class="profil-wrapper">
  <nz-card class="profil-card">
    <div class="profil-header">
      <nz-avatar
        [nzSrc]="currentUser?.photoUrl"
        nzIcon="user"
        nzSize="large"
        class="profil-avatar"
      ></nz-avatar>
      <div class="profil-name">
        <span>{{ currentUser?.given_name}} {{ currentUser?.family_name }}</span>
        <span class="profil-id">ID: {{ currentUser?.email }}</span>
      </div>
    </div>
    <nz-divider></nz-divider>
    <nz-descriptions
      nzTitle="Informations personnelles"
      [nzColumn]="1"
      nzBordered
      nzSize="middle"
      class="profil-descriptions"
    >
      <nz-descriptions-item nzTitle="Nom">
        <div class="desc-value">{{ currentUser?.family_name }}</div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Prénom">
        <div class="desc-value">{{ currentUser?.given_name }}</div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Email">
        <div class="desc-value">{{ currentUser?.email }}</div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Téléphone">
        <div class="desc-value">{{ currentUser?.telephone }}</div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Poste">
        <div class="desc-value">{{ currentUser?.poste }}</div>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</div>
