<h2 mat-dialog-title>Profil</h2>

<div class="profile-photo-container">
  <img [src]="user.photo || 'assets/images/perso.jpg'" alt="Photo de profil" class="profile-photo">
</div>

<mat-dialog-content>
  <form #profileForm="ngForm" class="profile-form">
    <div class="form-row">
      <div class="form-field">
        <label for="family_name">lastName</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="user.family_name" name="family_name" id="family_name" required>
        </mat-form-field>
      </div>

      <div class="form-field">
        <label for="given_name">firstName</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="user.given_name" name="given_name" id="given_name" required>
        </mat-form-field>
      </div>
    </div>

     <div class="form-field">
        <label for="department">Departement</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="user.department" name="department" id="department" required>
        </mat-form-field>
      </div>
    

   <div class="form-field">
  <label for="role">Rôle</label>
  <mat-form-field appearance="outline" class="full-width">
    <input matInput [value]="user.role" name="role" id="role" readonly>
  </mat-form-field>
</div>

    <div class="form-row">
      <div class="form-field full-width">
        <label for="email">Email</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="user.email" name="email" id="email" required>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

