<nz-layout>
  <nz-sider [nzWidth]="300" [nzTheme]="'dark'" class="sider">
    <div class="logo-container">
      <img src="assets/images/logoingecys.png" alt="Logo Ingecys" class="logo" />
    </div>
    <ul nz-menu nzMode="inline" [nzTheme]="'dark'" class="menu">
      <li nz-menu-item [routerLink]="'/home-admin/tableau-de-bord'" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>Tableau de bord</span>
      </li>
      <li nz-menu-item [routerLink]="'/home-admin/profil'" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Profil</span>
      </li>
      <li nz-menu-item [routerLink]="'/home-admin/employes'" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Employés</span>
      </li>
      <li nz-menu-item [routerLink]="'/home-admin/demandes-conges'" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
        <span>Demandes de congés</span>
      </li>
      <li nz-menu-item (click)="logout()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Se déconnecter</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet> <!-- Important pour afficher les composants enfants -->
    </nz-content>
  </nz-layout>
</nz-layout>
